.container-fuild {
    max-width: 1920px; }
  
  .container {
    max-width: 100%;
    /*margin: 0 auto;*/ }
  
  .strong {
    font-weight: bold; }
  
  header .header-top {
    padding: 25px 0;
    border-bottom: 2px solid #f2f2f4; }
    header .header-top .lang {
      margin-top: 40px; }
      header .header-top .lang a {
        font-weight: bold;
        display: inline-block;
        margin-left: 2px;
        color: #939498;
        text-decoration: none; }
        header .header-top .lang a.active {
          color: #0870b7; }
        header .header-top .lang a:not(:first-child):before {
          /*content: "| ";*/ }
  header .header-bottom nav {
    float: left; }
    header .header-bottom nav a {
      color: #000;
      display: inline-block;
      padding: 70px 10px 10px 10px;
      height: 110px;
      text-decoration: none; }
      header .header-bottom nav a:hover, header .header-bottom nav a.active {
        color: #0972b4;
        font-weight: bold; }
      header .header-bottom nav a.green {
        background: url(../images/header-color-green.jpg) no-repeat center 40px; }
      header .header-bottom nav a.blue {
        background: url(../images/header-color-blue.jpg) no-repeat center 40px; }
      header .header-bottom nav a.blue-lighten {
        background: url(../images/header-color-blue-lighten.jpg) no-repeat center 40px; }
      header .header-bottom nav a.red {
        background: url(../images/header-color-red.jpg) no-repeat center 40px; }
      header .header-bottom nav a.orange {
        background: url(../images/header-color-orange.jpg) no-repeat center 40px; }
  header .header-bottom .time-open {
    float: right;
    margin-top: 40px;
    text-align: right; }
    header .header-bottom .time-open .line1 {
      background: url(../images/lock-icon.jpg) no-repeat 0 center;
      padding-left: 20px; }
  
  .banner .navigator {
    position: absolute;
    bottom: 10px; }
    .banner .navigator .navigator-i {
      height: 10px;
      width: 10px;
      border: 1px solid white; }
      .banner .navigator .navigator-i.navigator-iav {
        background: #fef200; }
  
  .search-bar {
    background: #ee2640;
    min-height: 130px; }
    .search-bar > .container {
      padding-top: 30px; }
    .search-bar .input-search {
      color: white; }
      .search-bar .input-search input {
        outline: 0;
        height: 50px;
        border: 0;
        border-radius: 0; }
      .search-bar .input-search .type {
        margin-top: 10px; }
        .search-bar .input-search .type .search-select {
          margin: 0 10px;
          cursor: pointer; }
    .search-bar .btn-search-wrap button {
      background: #0971b8;
      color: white;
      border: 2px solid #fff;
      padding: 0 20px;
      height: 50px;
      font-weight: bold;
      margin-left: 10px; }
  
  .post-container {
    margin-top: 105px; }
    .post-container .post-list .list {
      margin-top: 65px; }
      .post-container .post-list .list .list-i .name {
        margin: 25px 0;
        display: block;
        font-weight: bold;
        text-decoration: none;
        font-size: 16px; }
        .post-container .post-list .list .list-i .name.blue-ligten {
          color: #7bd0f9; }
        .post-container .post-list .list .list-i .name.black {
          color: black; }
      .post-container .post-list .list .list-i .content {
        color: #919191; }
      .post-container .post-list .list .list-i .read-more {
        line-height: 40px;
        width: 150px;
        text-align: center;
        display: inline-block;
        color: white;
        font-weight: bold;
        margin-top: 25px;
        text-decoration: none; }
        .post-container .post-list .list .list-i .read-more.red {
          background: #ee2640; }
        .post-container .post-list .list .list-i .read-more.blue {
          background: #0971b8; }
    .post-container .quick-link {
      text-align: center; }
      .post-container .quick-link .quick-title {
        color: #0971b8;
        border-bottom: 7px solid #0971b8; }
      .post-container .quick-link .quick-i {
        border-bottom: 3px solid #ebebed;
        color: #919499;
        height: 85px;
        display: block;
        text-decoration: none;
        padding: 40px 0; }
        .post-container .quick-link .quick-i.active {
          font-weight: bold; }
        .post-container .quick-link .quick-i.yellow {
          background: url(../images/quick-yellow.jpg) no-repeat center 20px; }
        .post-container .quick-link .quick-i.orange {
          background: url(../images/quick-orange.jpg) no-repeat center 20px; }
        .post-container .quick-link .quick-i.red {
          background: url(../images/quick-red.jpg) no-repeat center 20px; }
        .post-container .quick-link .quick-i.violet {
          background: url(../images/quick-violet.jpg) no-repeat center 20px; }
        .post-container .quick-link .quick-i.green {
          background: url(../images/quick-green.jpg) no-repeat center 20px; }
        .post-container .quick-link .quick-i.gray {
          background: url(../images/quick-gray.jpg) no-repeat center 20px; }
        .post-container .quick-link .quick-i.blue {
          background: url(../images/quick-blue.jpg) no-repeat center 20px; }
        .post-container .quick-link .quick-i.blue-bold {
          background: url(../images/quick-blue-bold.jpg) no-repeat center 20px; }
      .post-container .quick-link .social {
        margin-top: 50px; }
        .post-container .quick-link .social a {
          display: inline-block;
          margin: 0 3px; }
  
  footer {
    margin-top: 50px;
    border-top: 3px solid #e9e9eb; }
    footer .footer-top .icon-home {
      background: url(../images/home-icon.jpg) no-repeat left top; }
    footer .footer-top .icon-phone {
      background: url(../images/phone-icon.jpg) no-repeat left top; }
    footer .footer-top .icon-email {
      background: url(../images/email-icon.jpg) no-repeat left top; }
    footer .footer-top .col-md-4 {
      margin: 40px 0; }
    footer .footer-top .icon-home, footer .footer-top .icon-phone, footer .footer-top .icon-email {
      padding-left: 30px; }
    footer .footer-top .line-sg {
      position: relative; }
      footer .footer-top .line-sg:before {
        content: "";
        position: absolute;
        width: 50px;
        background: black;
        top: -20px;
        height: 3px; }
      footer .footer-top .line-sg:after {
        content: "";
        position: absolute;
        width: 100px;
        left: 15px;
        top: -19px;
        background: black;
        height: 1px; }
    footer .footer-top .feedback {
      display: inline-block;
      background: #949599;
      height: 40px;
      width: 150px;
      line-height: 40px;
      text-align: center;
      color: white;
      text-decoration: none;
      font-weight: bold; }
    footer .footer-bottom {
      background: #949599;
      color: white;
      height: 75px; }
      footer .footer-bottom .copyright {
        line-height: 75px; }
      footer .footer-bottom .chat-with-us {
        margin-top: 12px; }
  
  /*# sourceMappingURL=style.css.map */
  